.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow: hidden;

  .table-cell {
    max-width: 100%;
    min-width: 175px;
    padding: 1rem;
    word-wrap: break-word; 
    word-break: break-word;
  }

  .table-header {
    display: flex;
    border-radius: 5px;
    background-color: gray;
    width: fit-content;
  }

  .table-body {
    display: flex;
    flex-direction: column;

    .table-row {
      display: flex;
    }
  }
}

.table-scroll {
  .table-body {
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 5px;
    }
  }

}